{% extends "base.html" %}
{% block content %}
{% load static %}
<div id="site-wrapper" class="site-wrapper page-about">
    {% include "header.html" %}
    <!-- header -->
    <!-- main-content -->
    <div class="content-wrap">
        <!-- Banner -->
        <div class="banner">
            <div class="container">
                <div class="banner-content text-center">
                    <div class="heading" data-animate="fadeInDown">
                        <h1 class="mb-0 text-white">
                            We’re Building The Destination For Getting Things Done
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner -->
        <!-- Solving -->
        <div class="about-intro text-center pt-12 pb-11 bg-gray-04">
            <div class="container">
                <div class="jumbotron mb-9 bg-transparent p-0 text-dark">
                    <h3 class="mb-7">
                        Solving One Big Problem
                    </h3>
                    <p class="lead mb-0 font-size-lg font-weight-normal lh-18">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled it to make a type specimen book. It has survived not only five
                        centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker including
                        versions of Lorem Ipsum.
                    </p>
                </div>
            </div>
        </div>
        <!-- Solving -->
        <!-- customers-say-us -->
        <section class="section-01 py-12" id="section-06">
            <div class="container">
                <h2 class="text-center mb-11">
                    Customers Say About us.
                </h2>
                <div class="row">
                    <div class="col col-md-12">
                        <div class="slick-slider arrow-center equal-height testimonials-slider"
                            data-slick-options='{"slidesToShow": 3, "autoplay":false,"dots":false,"responsive":[{"breakpoint": 1200,"settings": {"slidesToShow": 2}},{"breakpoint": 768,"settings": {"slidesToShow": 1,"arrows":false}}]}'>
                            <div class="box">
                                <div class="card testimonial-item h-100 border-0">
                                    <div class="card-title text-uppercase font-weight-medium text-gray mb-3">Jeet
                                        Vithlani
                                    </div>
                                    <div class="card-body h5 font-weight-normal px-0 mb-0 lh-15 letter-spacing-35">
                                        <svg class="icon icon-quotes-left">
                                            <use xlink:href="#icon-quotes-left"></use>
                                        </svg>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the
                                        1500s.
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="card testimonial-item h-100 border-0">
                                    <div class="card-title text-uppercase font-weight-medium text-gray mb-3">Jeet
                                        Vithlani
                                    </div>
                                    <div class="card-body h5 font-weight-normal px-0 mb-0 lh-15 letter-spacing-35">
                                        <svg class="icon icon-quotes-left">
                                            <use xlink:href="#icon-quotes-left"></use>
                                        </svg>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the
                                        1500s.
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="card testimonial-item h-100 border-0">
                                    <div class="card-title text-uppercase font-weight-medium text-gray mb-3">Jeet
                                        Vithlani
                                    </div>
                                    <div class="card-body h5 font-weight-normal px-0 mb-0 lh-15 letter-spacing-35">
                                        <svg class="icon icon-quotes-left">
                                            <use xlink:href="#icon-quotes-left"></use>
                                        </svg>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the
                                        1500s.
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="card testimonial-item h-100 border-0">
                                    <div class="card-title text-uppercase font-weight-medium text-gray mb-3">Jeet
                                        Vithlani
                                    </div>
                                    <div class="card-body h5 font-weight-normal px-0 mb-0 lh-15 letter-spacing-35">
                                        <svg class="icon icon-quotes-left">
                                            <use xlink:href="#icon-quotes-left"></use>
                                        </svg>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the
                                        1500s.
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="card testimonial-item h-100 border-0">
                                    <div class="card-title text-uppercase font-weight-medium text-gray mb-3">Jeet
                                        Vithlani
                                    </div>
                                    <div class="card-body h5 font-weight-normal px-0 mb-0 lh-15 letter-spacing-35">
                                        <svg class="icon icon-quotes-left">
                                            <use xlink:href="#icon-quotes-left"></use>
                                        </svg>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the
                                        1500s.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="section-08" class="bg-primary py-7">
            <div class="container">
                <div class="row align-items-center">
                    <div class="text-white col-lg-9">
                        <h2 class="mb-1 text-white">
                            Are you an automotive services provider?
                        </h2>
                        <p class="mb-0 font-size-md">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                    <div class="col-lg-3 text-left text-lg-right mt-4 mt-lg-0">
                        <a href="#" class="btn btn-outline-white btn-icon-right font-size-h5 px-6 py-3 lh-1">
                            Learn More
                            <i class="fal fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    {% endblock content %}
