{% load static %}
<header id="header"
        class="main-header header-float header-sticky header-sticky-smart header-light header-style-03 font-normal">
        <div class="header-wrapper sticky-area">
            <div class="container">
                <nav class="navbar navbar-expand-xl">
                    <div
                        class="header-mobile d-flex d-xl-none flex-fill justify-content-between align-items-center">
                        <div class="navbar-toggler toggle-icon" data-toggle="collapse"
                            data-target="#navbar-main-menu">
                            <span></span>
                        </div>
                        <a class="navbar-brand navbar-brand-mobile" href="{% url 'home' %}">
                            <img src="{% static 'images/white-logo.png' %}" alt="The dir">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse d-xl-flex align-items-center" id="navbar-main-menu">
                        <a class="navbar-brand d-none d-xl-block" href="{% url 'home' %}">
                            <img src="{% static 'images/white-logo.png' %}" alt="The dir">
                        </a>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'about' %}">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'search-list' %}">Search your Journey</a>
                            </li>
                            {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'upload-vehicle' %}">Upload your vehicle</a>
                            </li>
                            {% endif %}

                        </ul>
                        <div class="header-customize justify-content-end align-items-center d-xl-flex ml-auto">
                            {% if request.user.is_authenticated %}
                            <div class="header-customize-item">
                                
                                <form class="link" action="{% url 'logout' %}" method="POST">
                                    
                                    <button class="btn btn-user-after-login dropdown-toggle" type="button" data-toggle="dropdown"><svg class="icon icon-user-circle-o">
                                        <use xlink:href="#icon-user-circle-o"></use>
                                    </svg>{{user.username}}
                                    <span class="caret"></span></button>
                                    {% csrf_token %}
                                    <ul class="dropdown-menu">
                                        <li><a class="btn" href="#">Profile</a></li>
                                        <li><button type="submit" class="btn" name="button">logout</button></li>
                                    </ul>
                                </form>
                            </div>
                            {% else %}
                            <div class="header-customize-item">
                                <a href="#login-popup" class="link" data-gtf-mfp="true"
                                    data-mfp-options='{"type":"inline"}'>
                                    <svg class="icon icon-user-circle-o">
                                        <use xlink:href="#icon-user-circle-o"></use>
                                    </svg>
                                    Log in</a>
                            </div>

                            
                            {% endif %}
                            <div class="header-customize-item">
                                <a href="#" class="btn btn-primary text-capitalize">Join as a
                                    pro </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
    <symbol id="icon-user-circle-o" viewBox="0 0 28 28">
        <title>user-circle-o</title>
        <path
            d="M14 0c7.734 0 14 6.266 14 14 0 7.688-6.234 14-14 14-7.75 0-14-6.297-14-14 0-7.734 6.266-14 14-14zM23.672 21.109c1.453-2 2.328-4.453 2.328-7.109 0-6.609-5.391-12-12-12s-12 5.391-12 12c0 2.656 0.875 5.109 2.328 7.109 0.562-2.797 1.922-5.109 4.781-5.109 1.266 1.234 2.984 2 4.891 2s3.625-0.766 4.891-2c2.859 0 4.219 2.312 4.781 5.109zM20 11c0-3.313-2.688-6-6-6s-6 2.688-6 6 2.688 6 6 6 6-2.688 6-6z">
        </path>
    </symbol>
    </defs>
    </svg>