
{% extends "base.html" %} 
{% block content %}
{% load static %}
<div id="site-wrapper" class="site-wrapper home-automotive-service">
    <!-- header -->
    {% include "header.html" %}

    <!-- header -->
    <!-- main-content -->
    <div class="content-wrap">
        <!-- Banner-withsearch -->
        <section class="banner">
            <div class="container">
                <div class="banner-content">
                    <div class="heading" data-animate="fadeInLeft">
                        <h1 class="mb-0 text-white">
                            <span class="d-block lh-1">Find vehicle services</span>
                            <span class="d-block lh-1">near you so easy</span>
                        </h1>
                    </div>
                    <div class="form-search" data-animate="fadeInRight">
                        <form >
                            <div class="row align-items-end">
                                <div class="col-xl-6 mb-4 mb-xl-0">
                                    <label for="key-word" class="text-white font-weight-bold text-uppercase">What
                                        vehicle do you need?</label>
                                    <div class="input-group dropdown rounded">
                                        <input type="text" id="key-word" name="key-word"
                                            class="form-control font-size-lg border-0 form-control-lg bg-transparent"
                                            placeholder="eg: Car, Bike" data-toggle="dropdown" aria-haspopup="true"
                                            autocomplete="off">
                                        <a href="#" class="input-group-append text-decoration-none"
                                            data-toggle="dropdown">
                                            <i class="fal fa-chevron-down"></i>
                                        </a>
                                        <ul class="dropdown-menu form-search-ajax" aria-labelledby="key-word">
                                            <li class="dropdown-item item">
                                                <a href="#" class="link-hover-dark-white">
                                                    <span class="font-size-md">Car</span>
                                                </a>
                                            </li>
                                            <li class="dropdown-item item">
                                                <a href="#" class="link-hover-dark-white">
                                                    <span class="font-size-md">Bike</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class=" col-xl-4 mb-4 mb-xl-0">
                                    <label for="region" class="text-white font-weight-bold text-uppercase">where do
                                        you need it?</label>
                                    <div class="input-group dropdown rounded">
                                        <input type="text" id="region" name="region"
                                            class="form-control font-size-lg border-0 form-control-lg bg-transparent"
                                            placeholder="Town, city or postcode" data-toggle="dropdown"
                                            aria-haspopup="true" autocomplete="off">
                                    </div>
                                </div>
                                <div class=" col-xl-2">
                                    <button type="submit"
                                        class="btn btn-primary font-weight-bold font-size-h5 btn-block btn-icon-left btn-lg lh-16">
                                        <i class="fal fa-search"></i>Search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner-withsearch -->
        <!-- 3-points-sub-head -->
        <section id="section-02" class="py-12">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-4 mb-4 mb-lg-0 px-0 px-lg-4" data-animate="fadeInUp">
                        <div class="media icon-box-style-02">
                            <div class="d-flex flex-column align-items-center mr-6 color-primary">
                                <svg class="icon icon-checkmark-circle">
                                    <use xlink:href="#icon-checkmark-circle"></use>
                                </svg>
                                <span class="number h1 font-weight-bold">1</span>
                            </div>
                            <div class="media-body lh-14">
                                <h4 class="mb-3 font-weight-bold">
                                    Find nearby providers in your location
                                </h4>
                                <p class="font-size-md text-gray mb-0 text-muted">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4 mb-lg-0 px-0 px-lg-4" data-animate="fadeInUp">
                        <div class="media icon-box-style-02">
                            <div class="d-flex flex-column align-items-center mr-6 color-primary">
                                <svg class="icon icon-checkmark-circle">
                                    <use xlink:href="#icon-checkmark-circle"></use>
                                </svg>
                                <span class="number h1 font-weight-bold">2</span>
                            </div>
                            <div class="media-body lh-14">
                                <h4 class="mb-3 font-weight-bold">
                                    Browse real customer reviews
                                </h4>
                                <p class="font-size-md text-gray mb-0 text-muted">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4 mb-lg-0 px-0 px-lg-4" data-animate="fadeInUp">
                        <div class="media icon-box-style-02">
                            <div class="d-flex flex-column align-items-center mr-6 color-primary">
                                <svg class="icon icon-checkmark-circle">
                                    <use xlink:href="#icon-checkmark-circle"></use>
                                </svg>
                                <span class="number h1 font-weight-bold">3</span>
                            </div>
                            <div class="media-body lh-14">
                                <h4 class="mb-3 font-weight-bold">
                                    Book Car, Bike with a tap
                                </h4>
                                <p class="font-size-md text-gray mb-0 text-muted">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 3-points-sub-head -->
        <!-- vehicle-recommended -->
        <section id="section-03" class="pt-12 pb-13 bg-gray-03">
            <div class="container">
                <div class="d-flex align-items-center mb-8 flex-wrap flex-md-nowrap">
                    <h3 class="mb-0">
                        Top Vehicle That We Recommended
                    </h3>
                </div>
                <div class="slick-slider store-grid-style arrow-center "
                    data-slick-options='{"slidesToShow": 3, "autoplay":false,"dots":false,"responsive":[{"breakpoint": 1200,"settings": {"slidesToShow": 2,"arrows":false,"dots":true,"autoplay":true}},{"breakpoint": 992,"settings": {"slidesToShow": 1,"arrows":false,"dots":true,"autoplay":true}}]}'>
                    <div class="box" data-animate="slideInDown">
                        <div class="store card border-0 rounded-0 h-auto" style="padding: 1.25rem;">
                            <div class="position-relative store-image">
                                <img src="{% static 'images/shop/automotic-service-provider-1.jpg' %}" alt="store 1"
                                    class="card-img-top rounded-0">
                            </div>
                            <div class="card-body">
                                <a href="#" class="card-title h5 text-dark d-inline-block mb-2"><span
                                        class="letter-spacing-25">Lorem Ipsum is simply dummy text.</span></a>
                                <ul
                                    class="list-inline store-meta mb-4 font-size-sm d-flex align-items-center flex-wrap">
                                    <li class="list-inline-item"><span
                                            class="badge badge-success d-inline-block mr-1">5.0</span><span>8
                                            rating</span>
                                    </li>
                                    <li class="list-inline-item separate"></li>
                                    <li class="list-inline-item"><span class="mr-1">From</span><span
                                            class="text-danger font-weight-semibold">525.00</span></li>
                                    <li class="list-inline-item separate"></li>
                                    <li class="list-inline-item"><a href="#" class="text-green">Book now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="box" data-animate="slideInDown">
                        <div class="store card border-0 rounded-0 h-auto" style="padding: 1.25rem;">
                            <div class="position-relative store-image">
                                <img src="{% static 'images/shop/automotic-service-provider-2.jpg' %}" alt="store 1"
                                    class="card-img-top rounded-0">
                            </div>
                            <div class="card-body">
                                <a href="#" class="card-title h5 text-dark d-inline-block mb-2"><span
                                        class="letter-spacing-25">Lorem Ipsum is simply dummy text.</span></a>
                                <ul
                                    class="list-inline store-meta mb-4 font-size-sm d-flex align-items-center flex-wrap">
                                    <li class="list-inline-item"><span
                                            class="badge badge-success d-inline-block mr-1">5.0</span><span>8
                                            rating</span>
                                    </li>
                                    <li class="list-inline-item separate"></li>
                                    <li class="list-inline-item"><span class="mr-1">From</span><span
                                            class="text-danger font-weight-semibold">525.00</span></li>
                                    <li class="list-inline-item separate"></li>
                                    <li class="list-inline-item"><a href="#" class="text-green">Book now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="box" data-animate="slideInDown">
                        <div class="store card border-0 rounded-0 h-auto" style="padding: 1.25rem;">
                            <div class="position-relative store-image">
                                <img src="{% static 'images/shop/automotic-service-provider-3.jpg' %}" alt="store 1"
                                    class="card-img-top rounded-0">
                            </div>
                            <div class="card-body">
                                <a href="#" class="card-title h5 text-dark d-inline-block mb-2"><span
                                        class="letter-spacing-25">Lorem Ipsum is simply dummy text.</span></a>
                                <ul
                                    class="list-inline store-meta mb-4 font-size-sm d-flex align-items-center flex-wrap">
                                    <li class="list-inline-item"><span
                                            class="badge badge-success d-inline-block mr-1">5.0</span><span>8
                                            rating</span>
                                    </li>
                                    <li class="list-inline-item separate"></li>
                                    <li class="list-inline-item"><span class="mr-1">From</span><span
                                            class="text-danger font-weight-semibold">525.00</span></li>
                                    <li class="list-inline-item separate"></li>
                                    <li class="list-inline-item"><a href="#" class="text-green">Book now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="box" data-animate="slideInDown">
                        <div class="store card border-0 rounded-0 h-auto" style="padding: 1.25rem;">
                            <div class="position-relative store-image">
                                <img src="{% static 'images/shop/automotic-service-provider-1.jpg' %}" alt="store 1"
                                    class="card-img-top rounded-0">
                            </div>
                            <div class="card-body">
                                <a href="#" class="card-title h5 text-dark d-inline-block mb-2"><span
                                        class="letter-spacing-25">Lorem Ipsum is simply dummy text.</span></a>
                                <ul
                                    class="list-inline store-meta mb-4 font-size-sm d-flex align-items-center flex-wrap">
                                    <li class="list-inline-item"><span
                                            class="badge badge-success d-inline-block mr-1">5.0</span><span>8
                                            rating</span>
                                    </li>
                                    <li class="list-inline-item separate"></li>
                                    <li class="list-inline-item"><span class="mr-1">From</span><span
                                            class="text-danger font-weight-semibold">525.00</span></li>
                                    <li class="list-inline-item separate"></li>
                                    <li class="list-inline-item"><a href="#" class="text-green">Book now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="box" data-animate="slideInDown">
                        <div class="store card border-0 rounded-0 h-auto" style="padding: 1.25rem;">
                            <div class="position-relative store-image">
                                <img src="{% static 'images/shop/automotic-service-provider-2.jpg' %}" alt="store 1"
                                    class="card-img-top rounded-0">
                            </div>
                            <div class="card-body">
                                <a href="#" class="card-title h5 text-dark d-inline-block mb-2"><span
                                        class="letter-spacing-25">Lorem Ipsum is simply dummy text.</span></a>
                                <ul
                                    class="list-inline store-meta mb-4 font-size-sm d-flex align-items-center flex-wrap">
                                    <li class="list-inline-item"><span
                                            class="badge badge-success d-inline-block mr-1">5.0</span><span>8
                                            rating</span>
                                    </li>
                                    <li class="list-inline-item separate"></li>
                                    <li class="list-inline-item"><span class="mr-1">From</span><span
                                            class="text-danger font-weight-semibold">525.00</span></li>
                                    <li class="list-inline-item separate"></li>
                                    <li class="list-inline-item"><a href="#" class="text-green">Book now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- vehicle-recommended -->
        <!-- vehicle-looking -->
        <section id="section-04" class="pt-12 pb-10 text-center categories bg-pattern-01">
            <div class="container">
                <div class="heading text-center mb-9">
                    <h3 class="mb-6 font-weight-bold">
                        What type of vehicle are you looking for?
                    </h3>
                    <div class="font-size-lg mb-0">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text ever since the 1500s.
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-4" data-animate="pulse">
                        <a class="btn btn-hero text-capitalize rounded-0" title="Category" href="#">
                            Hyundai Verna</a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-4" data-animate="pulse">
                        <a class="btn btn-hero text-capitalize rounded-0" title="Category" href="#">
                            Hyundai i20</a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-4" data-animate="pulse">
                        <a class="btn btn-hero text-capitalize rounded-0" title="Category" href="#">Hyundai
                            Verna</a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-4" data-animate="pulse">
                        <a class="btn btn-hero text-capitalize rounded-0" title="Category" href="#">
                            royal enfield bullet 350</a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-4" data-animate="pulse">
                        <a class="btn btn-hero text-capitalize rounded-0" title="Category" href="#">
                            Honda City</a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-4" data-animate="pulse">
                        <a class="btn btn-hero text-capitalize rounded-0" title="Category" href="#">
                            TATA Nano</a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-4" data-animate="pulse">
                        <a class="btn btn-hero text-capitalize rounded-0" title="Category" href="#">
                            Hyundai Creta</a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-4" data-animate="pulse">
                        <a class="btn btn-hero text-capitalize rounded-0" title="Category" href="#">
                            Bajaj CT 100 </a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-4" data-animate="pulse">
                        <a class="btn btn-hero text-capitalize rounded-0" title="Category" href="#">
                            Suzuki Gixxer</a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-4" data-animate="pulse">
                        <a class="btn btn-hero text-capitalize rounded-0" title="Category" href="#">
                            Honda Activa</a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-4" data-animate="pulse">
                        <a class="btn btn-hero text-capitalize rounded-0" title="Category" href="#">
                            Maruti Ciazz
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-4" data-animate="pulse">
                        <a class="btn btn-hero text-capitalize rounded-0" title="Category" href="#">
                            Hyundai Creta </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- vehicle-looking -->
        <!-- customers-say-us -->
        <section class="section-01 py-12" id="section-06">
            <div class="container">
                <h2 class="text-center mb-11">
                    Customers Say About us.
                </h2>
                <div class="row">
                    <div class="col col-md-12">
                        <div class="slick-slider arrow-center equal-height testimonials-slider"
                            data-slick-options='{"slidesToShow": 3, "autoplay":false,"dots":false,"responsive":[{"breakpoint": 1200,"settings": {"slidesToShow": 2}},{"breakpoint": 768,"settings": {"slidesToShow": 1,"arrows":false}}]}'>
                            <div class="box">
                                <div class="card testimonial-item h-100 border-0">
                                    <div class="card-title text-uppercase font-weight-medium text-gray mb-3">Jeet
                                        Vithlani
                                    </div>
                                    <div class="card-body h5 font-weight-normal px-0 mb-0 lh-15 letter-spacing-35">
                                        <svg class="icon icon-quotes-left">
                                            <use xlink:href="#icon-quotes-left"></use>
                                        </svg>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the
                                        1500s.
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="card testimonial-item h-100 border-0">
                                    <div class="card-title text-uppercase font-weight-medium text-gray mb-3">Jeet
                                        Vithlani
                                    </div>
                                    <div class="card-body h5 font-weight-normal px-0 mb-0 lh-15 letter-spacing-35">
                                        <svg class="icon icon-quotes-left">
                                            <use xlink:href="#icon-quotes-left"></use>
                                        </svg>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the
                                        1500s.
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="card testimonial-item h-100 border-0">
                                    <div class="card-title text-uppercase font-weight-medium text-gray mb-3">Jeet
                                        Vithlani
                                    </div>
                                    <div class="card-body h5 font-weight-normal px-0 mb-0 lh-15 letter-spacing-35">
                                        <svg class="icon icon-quotes-left">
                                            <use xlink:href="#icon-quotes-left"></use>
                                        </svg>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the
                                        1500s.
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="card testimonial-item h-100 border-0">
                                    <div class="card-title text-uppercase font-weight-medium text-gray mb-3">Jeet
                                        Vithlani
                                    </div>
                                    <div class="card-body h5 font-weight-normal px-0 mb-0 lh-15 letter-spacing-35">
                                        <svg class="icon icon-quotes-left">
                                            <use xlink:href="#icon-quotes-left"></use>
                                        </svg>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the
                                        1500s.
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="card testimonial-item h-100 border-0">
                                    <div class="card-title text-uppercase font-weight-medium text-gray mb-3">Jeet
                                        Vithlani
                                    </div>
                                    <div class="card-body h5 font-weight-normal px-0 mb-0 lh-15 letter-spacing-35">
                                        <svg class="icon icon-quotes-left">
                                            <use xlink:href="#icon-quotes-left"></use>
                                        </svg>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the
                                        1500s.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="section-08" class="bg-primary py-7">
            <div class="container">
                <div class="row align-items-center">
                    <div class="text-white col-lg-9">
                        <h2 class="mb-1 text-white">
                            Are you an automotive services provider?
                        </h2>
                        <p class="mb-0 font-size-md">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                    <div class="col-lg-3 text-left text-lg-right mt-4 mt-lg-0">
                        <a href="#" class="btn btn-outline-white btn-icon-right font-size-h5 px-6 py-3 lh-1">
                            Learn More
                            <i class="fal fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- customers-say-us -->
        
    </div>
    <!-- main-content -->
    {% endblock content %}
 