{% extends "base.html" %} 
{% block content %}
{% load static %}
    <div id="site-wrapper" class="site-wrapper page-privacy-policy">
        {% include "header.html" %}
        <!-- main-content -->
        <div class="content-wrap">
            <!-- Banner -->
            <div id="page-title" class="page-title text-center page-title-style-background">
                <div class="container">
                    <div class="h-100 d-flex flex-column justify-content-center">
                        <h1 class="mb-0 fadeInDown animated" data-animate="fadeInDown">
                            Privacy Policy
                        </h1>
                        <ul class="breadcrumb justify-content-center fadeInUp animated" data-animate="fadeInUp">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><span>Privacy Policy</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Banner -->
            <!-- middle-content -->
            <div id="wrapper-content" class="wrapper-content pt-10 pb-0">
                <div class="container">
                    <div class="mb-7">
                        This Privacy Policy governs the manner in which Jobify collects, uses, maintains and discloses
                        information collected from users (each, a “User”) of the website (“Site”). This privacy policy
                        applies to the Site and all products and services offered by us
                    </div>

                    <div id="privacy-policy" class="section-privacy-policy pb-8 pb-12">
                        <div class="mb-7">
                            <div class="font-size-lg text-dark font-weight-semibold mb-4">
                                Personal identification information
                            </div>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.
                        </div>
                        <div class="mb-7">
                            <div class="font-size-lg text-dark font-weight-semibold mb-4">
                                Non-personal identification information
                            </div>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting.
                        </div>
                        <div class="mb-7">
                            <div class="font-size-lg text-dark font-weight-semibold mb-4">
                                Web browser cookies
                            </div>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting.
                        </div>
                        <div class="mb-7">
                            <div class="font-size-lg text-dark font-weight-semibold mb-4">
                                How we protect your information
                            </div>
                            <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and scrambled it to make a type specimen book. It has survived not only five
                                centuries, but also the leap into electronic typesetting,</p>
                            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and scrambled it to make a type specimen book. It has survived not only five
                                centuries, but also the leap into electronic typesetting,</p>
                        </div>
                        <div>
                            <div class="font-size-lg text-dark font-weight-semibold mb-4">
                                Contacting us
                            </div>
                            If you have any questions about this Privacy Policy, the practices of this site, or your
                            dealings with this site, please contact us at:<br>
                            1800 555 5555
                        </div>
                    </div>

                </div>

                <div id="cta" class="bg-primary py-7">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="text-white col-xl-9">
                                <h2 class="mb-1 text-white">
                                    Have a question? Contact us now !
                                </h2>
                                <p class="mb-0 font-size-md">
                                    We're here to help. Check out our FAQs, send us an email or call us at 1 (800)
                                    555-5555
                                </p>
                            </div>
                            <div class="col-xl-3 mt-4 mt-xl-0 text-left text-xl-right">
                                <a class="btn btn-white btn-icon-right font-size-h5 px-6 py-3 lh-1 text-primary"
                                    href="#">
                                    Contact US
                                    <i class="fal fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- middle-content -->
        </div>
        <!-- main-content -->

        {% endblock content %}