{% extends "base.html" %}
{% block content %}

{% load static %}

    <div id="site-wrapper" class="site-wrapper explore-haft-map explore-haft-map-grid">
        <!-- header -->
        {% include "header.html" %}
        <!-- header -->
        <!-- main-content -->
        <div class="content-wrap">
            <!-- Banner -->
            <div id="page-title" class="page-title text-center page-title-style-background" style="background-image: unset !important;     height: 88px;
            background-color: #2e2e2e;">
            </div>
            <!-- Banner -->
            <!-- middle-content -->
            <div id="wrapper-content" class="wrapper-content pt-8 pb-0">
                <div class="container">
                   <div class="clearfix" style="display: flow-root;">
                        <h2 class="book-early float-left">Book Early, Book Cheaper</h2>
                        <span class=" float-right location-pickup">
                            <h4>
                                Location: <a href="#">Pune Raheja Garden 40041</a>
                            </h4>
                        </span>
                   </div>
                </div>
                <div class="page-container">
                    <div class="container">
                        <div class="widget widget-filter">
                            <div class="form-filter">
                                <form method ="POST" >
                                    <div class="d-flex flex-wrap flex-lg-nowrap align-items-center mb-4 mb-lg-2 filter-items">
                                        <div class="form-group category mb-3 mb-lg-0">
                                            <div class="select-custom">
                                                <select name="categories" class="form-control py-0">
                                                    <option value="None">All Categories</option>
                                                    <option value="Car">Car</option>
                                                    <option value="Bike" >Bike</option>
                                                </select>
                                            </div>
                                        </div>
                                    


                                        <div class="form-check mb-3 mb-lg-0 filter-item">
                                            <input class="form-check-input btn" type="radio" name="radio" id="hightolow">
                                            <label class="form-check-label" for="hightolow">
                                                High to low
                                            </label>
                                          </div>
                                          <div class="form-check mb-3 mb-lg-0 filter-item">
                                            <input class="form-check-input btn" type="radio" name="radio" id="lowtohigh">
                                            <label class="form-check-label" for="lowtohigh">
                                                Low to High


                                                
                                            </label>
                                          </div>

                                    </div>
                                    
                                    </div> 
                                    <div class="form-group category mb-3 mb-lg-0">
                                        <div class="select-custom">
                                            <select name="transmission" class="form-control py-0">
                                                <option value="None">All transmission</option>
                                                <option value="Automatic">Automatic</option>
                                                <option value="Manual" >Manual</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group price-range border-bottom">
                                        <label class="form-label">
                                            Price Range
                                        </label>
                                        <div id="price" data-slider="true"
                                            data-slider-options="{&quot;min&quot;:0,&quot;max&quot;:4000,&quot;values&quot;:[0,200]}"
                                            class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                                            <div class="ui-slider-range ui-corner-all ui-widget-header"
                                                style="left: 0%; width: 0%;"></div><span tabindex="0"
                                                class="ui-slider-handle ui-corner-all ui-state-default"
                                                style="left: 0%;"></span><span tabindex="0"
                                                class="ui-slider-handle ui-corner-all ui-state-default"
                                                style="left: 50%;"></span>
                                        </div>
                                        <div class="description">
                                            From <input type="text" name= "range" readonly="" class="amount border-0">
                                        </div>
                                        <div class="post-btn">
                                            <button type="submit" class="btn btn-primary btn-block ">Search</button>
                                        </div>
                                    </div>
                                   
                                </form>
                            </div>
                        </div>
                        <div class="page-content">
                            <div class="explore-filter d-sm-flex align-items-center d-block">
                                <div class="text-dark font-weight-semibold font-size-md mb-4 mb-lg-0">86 Results found
                                </div>
                            </div>
                            
                            <div class="row equal-height">
                                <!-- box-one -->
                                {% for i in data %}
                                <div class="col-lg-4 mb-4">
                                    <div class="box">
                                        
                                        <div class="store card border-0 rounded-0 h-auto">
                                            <div class="position-relative store-image">
                                                {% for i in i.images %}
                                          
                                                <img src="{{ i.image.url }}"  alt="store 1"
                                                    class="card-img-top rounded-0">
                                                {% endfor %}
                                            </div>
                                            <div class="card-body">
                                                <a href="vehicle_detail/{{ i.id }}" class="card-title h5 text-dark d-inline-block mb-2"><span
                                                        class="letter-spacing-25">{{i.add_info}}</span></a>
                                                <ul
                                                    class="list-inline store-meta mb-4 font-size-sm d-flex align-items-center flex-wrap">
                                                    <li class="list-inline-item"><span
                                                            class="badge badge-success d-inline-block mr-1">5.0</span><span>8
                                                            rating</span>
                                                    </li>
                                                    <li class="list-inline-item separate"></li>
                                                    <li class="list-inline-item"><span class="mr-1">From</span><span
                                                            class="text-danger font-weight-semibold">{{i.price}}</span></li>
                                                    <li class="list-inline-item separate"></li>
                                                    <li class="list-inline-item"><a href="#" class="text-green">Book
                                                            now</a></li>
                                                </ul>
                                                
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>
                                {% endfor %}
                                
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <!-- middle-content -->
        </div>
        <!-- main-content -->
        <!-- footer -->
        
        {% endblock content %}