{% extends "base.html" %}
{% block content %}

{% load static %}

<style>
    .form-control {
        width: 100% !important;
    }

    .price-higsearch {
        display: flex;
        padding: 5px 30px;
    }

    .search-list-img {
        height: 220px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .heading-text-eclips{
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @media (max-width: 991.98px) {
        .explore-haft-map .widget-filter .category {
            max-width: 100% !important;
        }
    }
</style>
<div id="site-wrapper" class="site-wrapper explore-haft-map explore-haft-map-grid">
    {% include "header.html" %}
    <!-- main-content -->
    <div class="content-wrap">
        <!-- Banner -->
        <div id="page-title" class="page-title text-center page-title-style-background" style="background-image: unset !important;     height: 88px;
            background-color: #2e2e2e;">
        </div>
        <!-- Banner -->
        <!-- middle-content -->
        <div id="wrapper-content" class="wrapper-content pt-8 pb-0">
            <div class="container">
                <div class="clearfix" style="display: flow-root;">
                    <h2 class="book-early float-left">Book Early, Book Cheaper</h2>
                    <span class=" float-right location-pickup">
                        <h4>
                            Location: <a href="#">Pune Raheja Garden 40041</a>
                        </h4>
                    </span>
                </div>
            </div>
            <div class="page-container">
                <div class="container">
                    <div class="widget widget-filter">
                        <div class="form-filter">
                            <form method="POST">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group category mb-3 mb-lg-0">
                                            <div class="select-custom">
                                                <select name="categories" class="form-control py-0">
                                                    <option value="None">All Categories</option>
                                                    <option value="Car">Car</option>
                                                    <option value="Bike">Bike</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 price-higsearch">
                                        <div class="form-check mb-3 mb-lg-0 filter-item">
                                            <input class="form-check-input btn" type="radio" name="radio"
                                                id="hightolow">
                                            <label class="form-check-label" for="hightolow">
                                                High to low
                                            </label>
                                        </div>
                                        <div class="form-check mb-3 mb-lg-0 filter-item">
                                            <input class="form-check-input btn" type="radio" name="radio"
                                                id="lowtohigh">
                                            <label class="form-check-label" for="lowtohigh">
                                                Low to High
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group category mb-3 ">
                                            <div class="select-custom">
                                                <select name="transmission" class="form-control py-0">
                                                    <option value="None">All transmission</option>
                                                    <option value="Automatic">Automatic</option>
                                                    <option value="Manual">Manual</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">
                                                Price Range
                                            </label>
                                            <div class="slidecontainer">
                                                <input type="range" min="1" max="100000" value="0" class="slider"
                                                    name="price" id="myRange">
                                                <p style="margin: 15px 0; font-size: 18px;">INR: <span id="demo"></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">

                                        <div class="form-group price-range border-bottom">
                                            <div class="header-customize-item">
                                                <button class="btn btn-primary text-capitalize" type="submit"
                                                    style="background-color: #59a404; color: #ffffff; border: none; padding: 8px 35px;">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>



                    <div class="page-content">
                        <div class="explore-filter d-sm-flex align-items-center d-block">
                            <div class="text-dark font-weight-semibold font-size-md mb-4 mb-lg-0">{{data.count}} Results
                                found
                            </div>
                        </div>

                        <div class="row equal-height">
                            {% for i in data %}
                            <!-- box-one -->
                            <div class="col-lg-4 mb-4">
                                <div class="box new-box-start">
                                    <div class="store card border-0 rounded-0 h-auto">
                                        <div class="position-relative store-image">
                                            {% for i in i.images %}
                                            <div class="search-list-img"
                                                style="background-image: url('{{ i.image.url }}');"></div>
                                            <!-- <img src="{{ i.image.url }}" alt="store 1" class="card-img-top rounded-0"> -->
                                            {% endfor %}
                                        </div>
                                        <div class="card-body">
                                            <a href="vehicle_detail/{{ i.id }}"
                                                class="card-title h5 text-dark heading-text-eclips d-inline-block mb-2">{{i.vehicle_brand}}</a>
                                            <ul
                                                class="list-inline store-meta mb-4 font-size-sm d-flex align-items-center flex-wrap">
                                                <li class="list-inline-item"><span
                                                        class="badge badge-success d-inline-block mr-1">5.0</span><span>8
                                                        rating</span>
                                                </li>
                                                <li class="list-inline-item separate"></li>
                                                <li class="list-inline-item"><span class="mr-1">From</span><span
                                                        class="text-danger font-weight-semibold">525.00</span></li>
                                                <li class="list-inline-item separate"></li>
                                                <li class="list-inline-item"><a href="" class="text-green">Book
                                                        now</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- box-one -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- middle-content -->
</div>
<!-- main-content -->
{% endblock %}