{% extends "base.html" %} 
{% block content %}
{% load static %}
<div id="site-wrapper" class="site-wrapper page-term-condition">
    {% include "header.html" %}
        <!-- main-content -->
        <div class="content-wrap">
            <!-- Banner -->
            <div id="page-title" class="page-title text-center page-title-style-background" style="background-image: {% static 'images/banner/terms-banner.jpg' %} !important;">
                <div class="container">
                    <div class="h-100 d-flex flex-column justify-content-center">
                        <h1 class="mb-0 fadeInDown animated" data-animate="fadeInDown">
                            Terms and Conditions
                        </h1>
                        <ul class="breadcrumb justify-content-center fadeInUp animated" data-animate="fadeInUp">
                            <li class="breadcrumb-item"><a href="{% static 'home' %}">Home</a></li>
                            <li class="breadcrumb-item"><span>Terms and Conditions</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Banner -->
            <!-- middle-content -->
            <div id="wrapper-content" class="wrapper-content pt-10 pb-0">
                <div class="container">

                    <div id="term-condition" class="pb-9">
                        <div class="mb-7">
                            <h5 class="mb-4">
                                1. Term
                            </h5>
                            <p class="mb-0">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                        <div class="mb-7">
                            <h5 class="mb-4">
                                2. Use License
                            </h5>
                            <p class="mb-3"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting.</p>
                            <ul class="mb-4 list-unstyled">
                                <li>
                                    - modify or copy the materials;
                                </li>
                                <li>- use the materials for any commercial purpose, or for any public display
                                    (commercial or
                                    non-commercial);
                                </li>
                                <li>- attempt to decompile or reverse engineer any software contained on Jobify’s web
                                    site;
                                </li>
                                <li>- remove any copyright or other proprietary notations from the materials; or
                                    transfer the materials to another person or “mirror” the materials on any other
                                    server.
                                </li>
                            </ul>
                            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged.</p>
                        </div>
                        <div class="mb-7">
                            <h5 class="mb-4">
                                3. Disclaimer
                            </h5>
                            <p class="mb-0">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                        <div class="mb-7">
                            <h5 class="mb-4">
                                4. Limitations
                            </h5>
                            <p class="mb-0">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                        <div class="mb-7">
                            <h5 class="mb-4">
                                5. Revisions and Errata
                            </h5>
                            <p class="mb-0">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages.
                            </p>
                        </div>
                        <div class="mb-7">
                            <h5 class="mb-4">
                                6. Links
                            </h5>
                            <p class="mb-0">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book.
                            </p>
                        </div>
                        <div class="mb-7">
                            <h5 class="mb-4">
                                7. Site Terms of Use Modifications
                            </h5>
                            <p class="mb-0">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s.
                            </p>
                        </div>
                        <div class="mb-7">
                            <h5 class="mb-4">
                                8. Governing Law
                            </h5>
                            <p class="mb-0">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting<br>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                    </div>

                </div>

                <div id="cta" class="bg-primary py-7">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="text-white col-xl-9">
                                <h2 class="mb-1 text-white">
                                    Have a question? Contact us now !
                                </h2>
                                <p class="mb-0 font-size-md">
                                    We're here to help. Check out our FAQs, send us an email or call us at 1 (800)
                                    555-5555
                                </p>
                            </div>
                            <div class="col-xl-3 mt-4 mt-xl-0 text-left text-xl-right">
                                <a class="btn btn-white btn-icon-right font-size-h5 px-6 py-3 lh-1 text-primary"
                                    href="#">
                                    Contact US
                                    <i class="fal fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- middle-content -->
        </div>
        <!-- main-content -->
        {% endblock content %}