{% extends "base.html" %} 
{% block content %}
{% load static %}

<body>
    <div id="site-wrapper" class="site-wrapper explore-haft-map explore-haft-map-grid">
        <!-- header -->
        {% include "header.html" %}
        <!-- header -->
        <!-- main-content -->
        <div class="content-wrap">
            <!-- Banner -->
            <div id="page-title" class="page-title text-center page-title-style-background" style="background-image: unset !important;     height: 88px;
            background-color: #2e2e2e;">
            </div>
            <!-- Banner -->
            <!-- middle-content -->
            <div id="wrapper-content" class="wrapper-content pt-8 pb-0">
                <div class="container">
                    <div class="clearfix" style="display: flow-root;">
                        <h2 class="book-early float-left">{{user.username}}</h2>
                        <span class=" float-right location-pickup">
                            <h4>
                                Pickup Location: <a href="#">Pune Raheja Garden 40041</a>
                            </h4>
                        </span>
                    </div>
                </div>
                <div class="page-container">
                    <div class="container">
                        <div class="header-text-upload">
                            <h2>Enter Your Vehicle Details</h2>
                        </div>
                    </div>

                    <form method="POST" enctype="multipart/form-data">
                        <div class="container">
                            <div class="widget widget-filter">
                                <div class="form-filter">
                                    <div
                                        class="d-flex flex-wrap flex-lg-nowrap align-items-center mb-4 mb-lg-2 filter-items">
                                        <div class="form-group category mb-3 mb-lg-0">
                                            <div class="select-custom">
                                                <select name="categories" class="form-control py-0">
                                                    <option value="0">Select Categories</option>
                                                    <option value="Car">Car</option>
                                                    <option value="Bike">Bike</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group category mb-3 mb-lg-0">
                                            <div class="select-custom">
                                                <select name="vehicle_brand"class="form-control py-0">
                                                    <option value="0">Vehicle Brand</option>
                                                    <option value="Hyundai">Hyundai</option>
                                                    <option value="VW">VW</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group category mb-3 mb-lg-0">
                                            <div class="select-custom">
                                                <select name="yearofmaking" class="form-control py-0">
                                                    <option value="0">Year of Making</option>
                                                    <option value="2010">2010</option>
                                                    <option value="2012">2012</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group category mb-3 mb-lg-0">
                                            <div class="select-custom">
                                                <select name= "fueltype" class="form-control py-0">
                                                    <option value="0">Fuel type</option>
                                                    <option value="Petrol">Petrol</option>
                                                    <option value="Diesel">Diesel</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group category mb-3 mb-lg-0">
                                            <div class="select-custom">
                                                <select name="transmission" class="form-control py-0">
                                                    <option value="0">Transmission</option>
                                                    <option value="Automatic">Automatic</option>
                                                    <option value="Manual">Manual</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group category mb-3 mb-lg-0">
                                            <input type="text" name="reg_no" placeholder="Ragistration Number*" class="form-control">
                                        </div>
                                        <div class="form-group category mb-3 mb-lg-0">
                                            <input type="text" name="km_driven" placeholder="Km Driven*" class="form-control">
                                        </div>
                                        <div class="form-group category mb-3 mb-lg-0">
                                            <input type="text" name="price" placeholder="price*" class="form-control">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group price-range">
                                        <label class="form-label">
                                            Vehicle Start Date & Time
                                        </label>
                                        <input type="datetime-local" name="start_Date" placeholder="Key Features of your item" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group price-range">
                                        <label class="form-label">
                                            Vehicle End Date & Time
                                        </label>
                                        <input type="datetime-local" name="end_date" placeholder="Key Features of your item" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group price-range">
                                        <label class="form-label">
                                            Add Title
                                        </label>
                                        <input type="text" name= "keyfeature" placeholder="Key Features of your item" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group price-range">
                                        <label class="form-label">
                                            Additional information*
                                        </label>
                                        <textarea type="text" name="add_info"
                                            placeholder="Include condition, features and other details"
                                            class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group price-range upload-sec">
                                        <label class="form-label d-block">
                                            Upload Vehicle Photos*
                                        </label>
                                        <input type='file' name="images" multiple class="form-control-file" onchange="readURL(this);" />
                                        <img id="blah" src="https://dummyimage.com/120x120/999999/fff"
                                            alt="your image" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group price-range post-btn">
                                      <button class="btn">Post</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>



            </div>
            <!-- middle-content -->
        </div>
        <!-- main-content -->

        {% endblock %}