<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GoDrive</title>
    {% load static %}
    <!-- css-file -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700,800,900&amp;display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/animate.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jquery-ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'chat/css/bootstrap.min.css' %}">
    <script src="{% static 'chat/js/jquery.min.js' %}"></script>
    <script src="{% static 'chat/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'chat/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'chat/css/font-awesome.min.css' %}"/>

    <!-- css-file -->
</head>

<body>
    <div id="site-wrapper" class="site-wrapper home-automotive-service">
    <!-- header -->
    {% include "header.html" %}

        
        <!-- header -->
        <!-- main-content -->
            {% block content %}
            {% endblock content %}
         
            <!-- customers-say-us -->
            <!-- learn-more -->
            
            <!-- learn-more -->
        </div>
        <!-- main-content -->
        <!-- footer -->                                                                    
        <footer class="main-footer main-footer-style-01 bg-gray-04 pt-12">
            <div class="footer-second">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-4 mb-6 mb-lg-0">
                            <div class="mb-8"><img src="{% static 'images/black-logo.png' %}" alt="Thedir"></div>
                            <div class="mb-7">
                                <div class="font-size-md font-weight-semibold text-dark mb-4">Global Headquaters</div>
                                <p class="mb-0">
                                    90 Fifth Avenue, 3rd Floor Wanowari<br>
                                    Pune Maharashtra 411040<br>
                                    +91 9922185971</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg mb-6 mb-lg-0">
                            <div class="font-size-md font-weight-semibold text-dark mb-4">
                                Company
                            </div>
                            <ul class="list-group list-group-flush list-group-borderless">
                                <li class="list-group-item px-0 lh-1625 bg-transparent py-1">
                                    <a href="{% url 'home' %}" class="link-hover-secondary-primary">Home</a>
                                </li>
                                <li class="list-group-item px-0 lh-1625 bg-transparent py-1">
                                    <a href="{% url 'about' %}" class="link-hover-secondary-primary">About us</a>
                                </li>
                                <li class="list-group-item px-0 lh-1625 bg-transparent py-1">
                                    <a href="{% url 'tnc' %}" class="link-hover-secondary-primary">Term and Condition</a>
                                </li>
                                <li class="list-group-item px-0 lh-1625 bg-transparent py-1">
                                    <a href="{% url 'privacy-policy' %}" class="link-hover-secondary-primary">Privacy Policy</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-lg-4 mb-6 mb-lg-0">
                            <div class="pl-0 pl-lg-9">
                                <div class="font-size-md font-weight-semibold text-dark mb-4">Our Newsletter</div>
                                <div class="mb-4">Subscribe to our newsletter and<br>
                                    we will inform you about newset directory and promotions
                                </div>
                                <div class="form-newsletter">
                                    <form>
                                        <div class="input-group bg-white">
                                            <input type="text" class="form-control border-0"
                                                placeholder="Email Address... ">
                                            <button type="button"
                                                class="input-group-append btn btn-white bg-transparent text-dark border-0">
                                                <i class="fas fa-arrow-right"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-last mt-8 mt-md-11">
                <div class="container">
                    <div class="footer-last-container position-relative">
                        <div class="row align-items-center">
                            <div class="col-lg-4 mb-3 mb-lg-0">
                                <div class="social-icon text-dark">
                                    <ul class="list-inline">
                                        <li class="list-inline-item mr-5">
                                            <a target="_blank" title="Twitter" href="#">
                                                <i class="fab fa-twitter">
                                                </i>
                                                <span>Twitter</span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item mr-5">
                                            <a target="_blank" title="Facebook" href="#">
                                                <i class="fab fa-facebook-f">
                                                </i>
                                                <span>Facebook</span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item mr-5">
                                            <a target="_blank" title="Google plus" href="#">
                                                <svg class="icon icon-google-plus-symbol">
                                                    <use xlink:href="#icon-google-plus-symbol"></use>
                                                </svg>
                                                <span>Google plus</span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item mr-5">
                                            <a target="_blank" title="Instagram" href="#">
                                                <svg class="icon icon-instagram">
                                                    <use xlink:href="#icon-instagram"></use>
                                                </svg>
                                                <span>Instagram</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-5 mb-3 mb-lg-0">
                                <div>
                                    &copy; 2021 <a href="#"
                                        class="link-hover-dark-primary font-weight-semibold">GoDrive</a> All
                                    Rights Resevered.
                                </div>
                            </div>
                            <div class="back-top text-left text-lg-right">
                                <a href="#" class="gtf-back-to-top link-hover-secondary-primary"><i
                                        class="fal fa-arrow-up"></i><span>Back To Top</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer -->
        <!-- login-regester-pop-up -->
    <div id="login-popup" class="mfp-hide">
        <div class="form-login-register">
            <div class="tabs mb-8">
                <ul class="nav nav-pills tab-style-01 text-capitalize justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab"
                            aria-controls="login" aria-selected="true">
                            <h3>Log In</h3>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab"
                            aria-controls="register" aria-selected="false">
                            <h3>Register</h3>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" id="forget-tab" data-toggle="tab" href="#forget" role="tab"
                            aria-controls="forget" aria-selected="false">
                            <h3>forget</h3>
                        </a>
                    </li> -->
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                    <div class="form-login" action="{% url 'login' %}">
                        <form method="POST">
                            <div class="font-size-md text-dark mb-5">Log In Your Account</div>
                            <div class="form-group mb-2">
                                <label for="username" class="sr-only">Username</label>
                                <input id="username" name="login_username" type="text" class="form-control" placeholder="Username">
                            </div>
                            <div class="form-group mb-3">
                                <div class="input-group flex-nowrap align-items-center">
                                    <label for="password" class="sr-only">Password</label>
                                    <input id="password" name="login_password" type="text" class="form-control" placeholder="Password">
                                    <a class="input-group-append text-decoration-none" id="forget-tab" data-toggle="tab" href="#forget" role="tab"
                                    aria-controls="forget" aria-selected="false">Forgot?</a>
                                </div>
                            </div>
                            <button type="submit"
                                class="btn btn-primary btn-block font-weight-bold text-uppercase font-size-lg rounded-sm mb-8">
                                Log In
                            </button>
                        </form>
                        <div class="font-size-md text-dark mb-5 text-center">Or Log In With</div>
                        <div class="social-icon origin-color si-square">
                            <ul class="row no-gutters list-inline text-center">
                                <li class="list-inline-item si-facebook col-3">
                                    <a target="_blank" title="Facebook" href="#">
                                        <i class="fab fa-facebook-f">
                                        </i>
                                        <span>Facebook</span>
                                    </a>
                                </li>
                                <li class="list-inline-item si-google col-3">
                                    <a target="_blank" title="Google plus" href="#">
                                        <svg class="icon icon-google-plus-symbol">
                                            <use xlink:href="#icon-google-plus-symbol"></use>
                                        </svg>
                                        <span>Google plus</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade " id="register" role="tabpanel" aria-labelledby="register-tab">
                    <div class="form-register">
                        <form method="POST">
                            <div class="font-size-md text-dark mb-5">Create Your Account</div>
                            <div class="form-group mb-2">
                                <label for="username-rt" class="sr-only">Username</label>
                                <input id="username-rt" name="register_username" type="text" class="form-control" placeholder="Username">
                            </div>
                            <div class="form-group mb-2">
                                <label for="email" class="sr-only">Email</label>
                                <input id="email" name="register_email" type="text" class="form-control" placeholder="Email Address">
                            </div>
                            <div class="form-group mb-2">
                                <label for="password-rt" class="sr-only">Username</label>
                                <input id="password-rt" name="register_password" type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group mb-3">
                                <label for="r-password" class="sr-only">Username</label>
                                <input id="r-password" name="register_confirm_password"  type="password" class="form-control"
                                    placeholder="Retype password">
                            </div>
                            <div class="form-group mb-8">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="check-term">
                                    <label class="custom-control-label text-dark" for="check-term">You agree with our
                                        Terms Privacy Policy and</label>
                                </div>
                            </div>
                            <button type="submit"
                                class="btn btn-primary btn-block font-weight-bold text-uppercase font-size-lg rounded-sm">
                                Create an
                                account
                            </button>
                        </form >
                    </div>
                </div>
                <div class="tab-pane fade " id="forget" role="tabpanel" aria-labelledby="Forget-tab">
                    <div class="form-register">
                        <form method ="POST">
                            <div class="font-size-md text-dark mb-5">Forget Password</div>
                            <div class="form-group mb-2">
                                <label for="email" class="sr-only">Email</label>
                                <input id="email" type="text" class="form-control" name="forget_email" placeholder="Email Address">
                            </div>
                            <br>
                            <button type="submit"
                                class="btn btn-primary btn-block font-weight-bold text-uppercase font-size-lg rounded-sm">
                                Forget Password
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!-- JS-file -->
    <script src="{% static 'vendors/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'vendors/popper/popper.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'vendors/hc-sticky/hc-sticky.js' %}"></script>
    <script src="{% static 'vendors/isotope/isotope.pkgd.js' %}"></script>
    <script src="{% static 'vendors/magnific-popup/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'vendors/slick/slick.js' %}"></script>
    <script src="{% static 'vendors/waypoints/jquery.waypoints.js' %}"></script>
    <script src="{% static 'vendors/app.js' %}"></script>
    <!-- JS-file -->
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="icon-checkmark-circle" viewBox="0 0 32 32">
                <title>checkmark-circle</title>
                <path
                    d="M15.2 32c-4.061 0-7.877-1.581-10.749-4.451s-4.451-6.688-4.451-10.747c0-4.061 1.581-7.877 4.451-10.749s6.688-4.453 10.749-4.453c4.061 0 7.877 1.581 10.749 4.453s4.451 6.688 4.451 10.749-1.581 7.877-4.451 10.747c-2.87 2.87-6.688 4.451-10.749 4.451zM15.2 3.2c-7.499 0-13.6 6.101-13.6 13.6s6.101 13.6 13.6 13.6 13.6-6.101 13.6-13.6-6.101-13.6-13.6-13.6zM12 23.2c-0.205 0-0.41-0.078-0.566-0.234l-4.8-4.8c-0.312-0.312-0.312-0.819 0-1.131s0.819-0.312 1.131 0l4.234 4.234 10.634-10.634c0.312-0.312 0.819-0.312 1.131 0s0.312 0.819 0 1.131l-11.2 11.2c-0.157 0.157-0.362 0.234-0.566 0.234z">
                </path>
            </symbol>
            <symbol id="icon-google-plus-symbol" viewBox="0 0 32 32">
                <title>google-plus-symbol</title>
                <path
                    d="M18.413 20.375c-0.34-0.455-0.715-0.879-1.125-1.269s-0.821-0.747-1.231-1.067c-0.41-0.32-0.785-0.628-1.125-0.923s-0.615-0.602-0.827-0.923-0.317-0.647-0.317-0.981c0-0.462 0.148-0.894 0.442-1.298s0.654-0.795 1.077-1.173c0.423-0.378 0.846-0.792 1.269-1.24s0.782-1.042 1.077-1.779c0.295-0.737 0.442-1.58 0.442-2.529 0-1.128-0.25-2.212-0.75-3.25s-1.205-1.846-2.115-2.423h2.596l2.596-1.519h-8.403c-1.192 0-2.391 0.128-3.596 0.385-1.782 0.397-3.282 1.305-4.5 2.721s-1.827 3.022-1.827 4.817c0 1.897 0.683 3.474 2.048 4.731s3.003 1.884 4.913 1.884c0.385 0 0.833-0.032 1.346-0.096-0.026 0.102-0.070 0.24-0.134 0.413s-0.116 0.311-0.154 0.414c-0.038 0.102-0.071 0.227-0.096 0.375s-0.038 0.298-0.038 0.452c0 0.846 0.41 1.801 1.231 2.865-0.974 0.026-1.936 0.112-2.884 0.26s-1.942 0.378-2.981 0.692c-1.038 0.314-1.968 0.769-2.788 1.365s-1.436 1.304-1.846 2.125c-0.474 0.949-0.712 1.814-0.712 2.596 0 0.859 0.192 1.638 0.577 2.337s0.878 1.269 1.481 1.711c0.603 0.443 1.298 0.814 2.087 1.116s1.57 0.516 2.346 0.644c0.776 0.128 1.542 0.192 2.298 0.192 3.436 0 6.128-0.84 8.077-2.519 1.795-1.564 2.692-3.372 2.692-5.423 0-0.731-0.106-1.413-0.317-2.048s-0.487-1.18-0.827-1.635zM11 13.385c-0.654 0-1.276-0.167-1.865-0.5s-1.090-0.766-1.5-1.298c-0.41-0.532-0.769-1.131-1.077-1.798s-0.535-1.333-0.683-2c-0.147-0.666-0.221-1.301-0.221-1.904 0-1.231 0.327-2.288 0.981-3.173s1.577-1.327 2.769-1.327c0.846 0 1.612 0.263 2.298 0.788s1.224 1.192 1.615 2c0.391 0.808 0.692 1.644 0.904 2.509s0.317 1.683 0.317 2.452c0 1.282-0.279 2.311-0.836 3.087s-1.458 1.163-2.702 1.163zM16.317 27.826c-0.352 0.603-0.83 1.074-1.432 1.413s-1.247 0.59-1.933 0.75c-0.686 0.161-1.407 0.241-2.163 0.241-0.821 0-1.635-0.096-2.442-0.289s-1.58-0.484-2.317-0.875c-0.737-0.391-1.333-0.929-1.788-1.615s-0.683-1.465-0.683-2.337c0-0.769 0.173-1.455 0.519-2.058s0.789-1.083 1.327-1.442c0.538-0.359 1.167-0.654 1.885-0.884s1.41-0.391 2.077-0.481c0.666-0.090 1.346-0.134 2.038-0.134 0.423 0 0.744 0.013 0.962 0.038 0.077 0.052 0.272 0.186 0.587 0.404s0.526 0.366 0.635 0.443c0.109 0.077 0.308 0.224 0.596 0.442s0.493 0.381 0.615 0.49c0.121 0.109 0.298 0.272 0.529 0.49s0.401 0.407 0.51 0.567c0.109 0.16 0.244 0.356 0.404 0.586s0.272 0.452 0.337 0.664c0.064 0.212 0.125 0.442 0.182 0.692s0.086 0.51 0.086 0.779c0 0.807-0.176 1.513-0.529 2.115z">
                </path>
                <path d="M27.077 4.923v-4.923h-2.462v4.923h-4.923v2.462h4.923v4.923h2.462v-4.923h4.923v-2.462z"></path>
            </symbol>
            <symbol id="icon-instagram" viewBox="0 0 20 20">
                <title>instagram</title>
                <path
                    d="M17 1h-14c-1.1 0-2 0.9-2 2v14c0 1.101 0.9 2 2 2h14c1.1 0 2-0.899 2-2v-14c0-1.1-0.9-2-2-2zM9.984 15.523c3.059 0 5.538-2.481 5.538-5.539 0-0.338-0.043-0.664-0.103-0.984h1.581v7.216c0 0.382-0.31 0.69-0.693 0.69h-12.614c-0.383 0-0.693-0.308-0.693-0.69v-7.216h1.549c-0.061 0.32-0.104 0.646-0.104 0.984 0 3.059 2.481 5.539 5.539 5.539zM6.523 9.984c0-1.912 1.55-3.461 3.462-3.461s3.462 1.549 3.462 3.461-1.551 3.462-3.462 3.462c-1.913 0-3.462-1.55-3.462-3.462zM16.307 6h-1.615c-0.382 0-0.692-0.312-0.692-0.692v-1.617c0-0.382 0.31-0.691 0.691-0.691h1.615c0.384 0 0.694 0.309 0.694 0.691v1.616c0 0.381-0.31 0.693-0.693 0.693z">
                </path>
            </symbol>
            <symbol id="icon-quotes-left" viewBox="0 0 32 32">
                <title>quotes-left</title>
                <path
                    d="M7.031 14c3.866 0 7 3.134 7 7s-3.134 7-7 7-7-3.134-7-7l-0.031-1c0-7.732 6.268-14 14-14v4c-2.671 0-5.182 1.040-7.071 2.929-0.364 0.364-0.695 0.751-0.995 1.157 0.357-0.056 0.724-0.086 1.097-0.086zM25.031 14c3.866 0 7 3.134 7 7s-3.134 7-7 7-7-3.134-7-7l-0.031-1c0-7.732 6.268-14 14-14v4c-2.671 0-5.182 1.040-7.071 2.929-0.364 0.364-0.695 0.751-0.995 1.157 0.358-0.056 0.724-0.086 1.097-0.086z">
                </path>
            </symbol>
        </defs>
    </svg>
</body>

</html>