.home-automotive-service .banner {
    background-image: url(../images/banner/automotic-service-home-banner.jpg) !important;
}
.nav-pills.tab-style-01 .nav-link.active {
    background-color: #59a404 !important;
    padding: 0px 7px;
    color: #ffffff !important;
}
.bg-pattern-01 {
    background-color: #f7f7f7 !important;
}
.header-hidden {
    transform: unset !important;
}
.page-about .banner {
    background-image: url(../images/banner/about-banner.jpg) !important;
}
.page-about .about-intro .jumbotron {
    max-width: 830px !important;
    margin: 0 auto 80px;
}
.page-title-style-background {
    background-image: url(../images/banner/policy-banner.jpg) !important;
}
.main-header .nav-link {
    text-transform: unset !important;
}
.explore-haft-map .page-container {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 725px;
    flex: unset !important;
    max-width: unset !important;
    background: #fff;
    padding: 19px 0 75px;
    width: 100%;
}
.book-early {
    padding: 25px 0;
    margin: 0;
    font-size: 22px;
}
.explore-haft-map .widget-filter .category {
    flex: unset !important;
}
.transmission {
    font-size: 22px;
    padding: 0;
}
.location-pickup h4 {
    font-size: 16px;
    font-weight: 400;
    padding: 25px 0;
}
.form-login-register .social-icon ul {
    margin: 0 -5px;
    display: block;
}
.form-login-register .tabs .nav-link.active h3 {
    color: #fff !important;
    font-size: 25px;
    padding: 5px 15px;
}
.form-login-register .tabs .nav-link h3 {
    border-bottom: 2px solid #59a404;
    color: #999;
    padding-bottom: 5px;
}
.forget-password-btn {
}
.form-control {
    border: 1px solid #adadad !important;
}
.upload-sec img {
    max-width: 120px;
}
.upload-sec input[type="file"] {
    padding: 10px 0;
    display: block;
    margin: 15px 0;
}
.header-text-upload h2{
    margin: 0 0 20px 0;
    font-size: 24px;
    padding: 0;
}
.post-btn button{
    color: #fff;
    background-color: #59a404;
    box-shadow: none;
    width: 200px;
    margin: 30px 0 10px 0;
    font-size: 20px;
    font-weight: 500;
}
/* .user-bg-img{
    background-image: url(../images/shop/automotic-service-provider-2.jpg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

.btn-user-after-login{
    color: #ffffff !important;
    text-transform: capitalize;
    padding: 0 !important;
}




@media only screen and (max-width: 1200px) {
    .header-style-03 .header-customize-item {
        margin-left: 0 !important;
        line-height: 3;
    }
}
